<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.shoety.cordova.plugin.inappbrowserxwalk"
        version="0.3.1">

  <name>InAppBrowser Crosswalk</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/inappbrowserxwalk.js" target="js/inappbrowserxwalk.js"/>

  <js-module src="www/inappbrowserxwalk.js" name="inAppBrowserXwalk">
    <clobbers target="inAppBrowserXwalk" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="InAppBrowserXwalk">
        <param name="android-package" value="com.example.plugin.InAppBrowserXwalk.InAppBrowserXwalk"/>
      </feature>
    </config-file>

    <source-file src="src/android/InAppBrowserXwalk.java" target-dir="src/com/shoety/plugin/"/>
    <source-file src="src/android/BrowserDialog.java" target-dir="src/com/shoety/plugin/"/>
  </platform>


</plugin>
